body {
  padding-top: 56px;
}

.title {
  color: #172b1c;
}

.bg-dark {
  background-color: #172b1c!important;
}

.btn-primary {
  color: #fff;
  background-color: #3b6d48;
  border-color: #3b6d48;
}

.btn-primary:hover {
  color: #fff;
  background-color: #183520;
  border-color: #183520;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #172b1c;
    border-color: #172b1c;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(23 43 28 / 53%);
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #172b1c;
    border-color: #172b1c;
    box-shadow: 0 0 0 0.2rem rgb(23 43 28 / 53%);
}

a {
  color: #149033;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #172b1c;
  text-decoration: underline;
}

.page-link {
  color: #172b1c;
  background-color: #fff;
}

.page-link:hover {
  color: #011903;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.bg-primary {
  background-color: #2d5437!important;
}

.bg-dark {
  background-color: #172b1c!important;
}

.pb-5, .py-5 {
    padding-bottom: 1rem!important;
}

.pt-5, .py-5 {
    padding-top: 1rem!important;
}

.fixed-bottom {
    position: inherit;
}

.fixed-top {
    position: absolute;
}

.card-header {
    display: inline-flex;
    justify-content: space-between;
}

.country-select {
    padding: 0.4rem;
    border-color: #ced4da;
    border-radius: 5px;
}

.datetimes {
    display: inline-flex;
    width: fit-content;
    justify-content: flex-end;
}

.input-group {
    width: 7rem;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-radius: 5px;
}

.btn-danger{
    color: #fff;
    background-color: #3b6d48;
    border-color: #3b6d48;
}

.date-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-style: revert;
    border-width: thin;
    border-radius: 5px;
    width: 40%;
    border: 1px solid #ced4da;
    padding: 6px;
    text-align: center;
}

.date-box:focus {
    border-color: #ced4da;
}