body {
  padding-top: 56px;
}

.title {
  color: #172b1c;
}

.bg-dark {
  background-color: #172b1c!important;
}

.btn-primary {
  color: #fff;
  background-color: #3b6d48;
  border-color: #3b6d48;
}

.btn-primary:hover {
  color: #fff;
  background-color: #183520;
  border-color: #183520;
}

a {
  color: #149033;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #172b1c;
  text-decoration: underline;
}

.page-link {
  color: #172b1c;
  background-color: #fff;
}

.page-link:hover {
  color: #011903;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.bg-primary {
  background-color: #2d5437!important;
}

.bg-dark {
  background-color: #172b1c!important;
}

.pb-5, .py-5 {
    padding-bottom: 1rem!important;
}

.pt-5, .py-5 {
    padding-top: 1rem!important;
}