@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic');

body {
	max-width: 21cm;
	margin: auto;
	line-height: 1.6;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

header > h1 {
	margin: 0;
	font-size: 3em;
	padding-top: 4em;
}

.imagine {
	width: 720px;
	height: 560px;
	display: inline;
	border: 2px solid black;
}

.imagine-small {
	width: 720px;
	height: 360px;
	display: inline;
	border: 2px solid black;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: 0.0375em;
}

h1,h2 {
	color: #4b0061;
}

h2 {
	margin-top: 3em;
}

h3 {
	margin-top: 2.5em;
}

h4 {
	font-weight: 300;
	font-size: 1.2em;
	font-variant: small-caps;
	margin: 2em 0 0.5em 0;
}

figcaption {
	text-align: center;
}

@media only screen and (max-width: 577px) {
	div.status {
		width: auto;
	}
}
@media only screen and (max-width: 980px) {
	body {
		margin: 0 2em;
	}
}

@media only screen and (max-width: 800px) {
	.imagine {
		width: 500px;
		height: 350px;
	}
}

figure {
    margin: 10px 0px 10px 0px;
}