{% extends "layout.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4 title">Statistics</h1>
                    <div class="filters">
                        <select class="form-select country-select" aria-label="Default select example">
                            <option selected>Country</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div class="datetimes">
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" placeholder="{{ today_date }}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" placeholder="{{ today_date }}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" style="margin-bottom: 0.3rem;">Filter</button>
                    </div>


                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <p>COVID-19 Evolution</p>
                            </div>
                            <div class="card-body">
                                <canvas id="casesChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <p>COVID-19 Statistics</p>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!--second row-->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <p>COVID-19 Average number of cases each month </p>
                            </div>
                            <div class="card-body">
                                <canvas id="barChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <p>COVID-19 Active cases evolution over time </p>
                            </div>
                            <div class="card-body">
                                <canvas id="activeChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="static/js/globals.js"></script>

<script>
    window.line_chart_data = {
        labels : [
            {% for item in line_labels %}
                "{{item}}",
            {% endfor %}
        ],
        data : {
         confirmed: {{ line_values_confirmed }},
         deceased: {{ line_values_deceased }},
         recovered: {{ line_values_recovered }}
        }
    };
    window.pie_chart_data = {
        labels : [
            {% for item in pie_labels %}
                "{{item}}",
            {% endfor %}
        ],
        data : [
            {% for item in pie_values %}
                {{item}},
            {% endfor %}
        ]
    };
    window.bar_chart_data = {
         labels : [
            {% for item in bar_values %}
                "{{item}}",
            {% endfor %}
         ],
         data: [
            {% for month, cases in bar_values.items() %}
                {{cases|tojson|safe}},
            {% endfor %}
         ]
    };
    window.active_chart_data = {
       labels : [
            {% for item in line_labels %}
                "{{item}}",
            {% endfor %}
       ],
       data : {
         active: {{ line_values_active }}
       }
    };
</script>

<!--LINE CHART JS-->
<script src="static/js/linechart.js"></script>

<!--PIE CHART JS-->
<script src="static/js/piechart.js"></script>

<!--BAR CHART JS-->
<script src="static/js/barchart.js"></script>

<!--Active CHART JS-->
<script src="static/js/activechart.js"></script>


<script>
    $(document).ready(function(){
      var options={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
      };
      $('.datepicker').datepicker(options);
    })

</script>
{% endblock content %}
