{% extends "layout.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Statistics</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Statistics</li>
                </ol>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                    Cases
                            </div>
                            <div class="card-body">
                                <canvas id="casesChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-xl-6">-->
<!--                        <div class="card mb-4">-->
<!--                            <div class="card-header">-->
<!--                                <i class="fas fa-chart-bar mr-1"></i>-->
<!--                                Bar Chart Example-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <canvas id="myBarChart" width="100%" height="40"></canvas>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // define the chart data
    var chartData = {
      labels : [{% for item in labels %}
                 "{{item}}",
                {% endfor %}],
      datasets : [{
          label: '{{ legend }}',
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : [{% for item in values %}
                    {{item}},
                  {% endfor %}],
          spanGaps: false
      }]
    }

    // get chart canvas
    var ctx = document.getElementById("casesChart").getContext("2d");

    // create the chart using the chart canvas
    var myChart = new Chart(ctx, {
      type: 'line',
      data: chartData,
      options: {
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              min: 0,
              max: 150,
              maxTicksLimit: 5
            },
            gridLines: {
              color: "rgba(0, 0, 0, .125)",
            }
          }],
        },
        legend: {
          display: false
        }
      }
    });
</script>
{% endblock content %}
