{% extends "layout.html" %}
{% block content %}
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1 style="font-family: 'Rubik Mono One', sans-serif;">Welcome to CODA</h1>
    </div>
  </header>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About CODA</h2>
          <p class="lead">CODA stands for COVID-19 Data for All. It is a smart micro-service-based web system that is able to provide information regarding the Covid-19 pandemic in multiple written and visual formats for both specialists and the general public. </p>
          <p class="lead">Articles, documents and graphics collected by CODA contain attested pieces of information which can be easily viewed, downloaded and shared to other platforms. Moreover, everything on CODA can be accessed via a SPARQL endpoint created in order to ease user access to required knowledge.</p>
          <p class="lead">Check out our Github repository available <a href="https://github.com/teodoragrosu/WADe-Project">here</a>! </p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Our goal</h2>
          <p class="lead">CODA’s goal is to keep everyone informed about the pandemic in a fast and easy manner and avoid spreading misinformation to the general public.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="siteMap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Site map</h2>
          <p class="lead">The features can be accessed from the navbar above and contain the following: </p>
          <ul>
            <li><b>News:</b> Latest news about the pandemic</li>
            <li><b>Articles:</b> Articles related to the pandemic. The articles can be filtered by category or the search bar can be used to find articles containing the desired information</li>
            <li><b>Statistics:</b> COVID statistics displayed through charts. Information can be filtered by country and date for some of the charts.</li>
            <li><b>About:</b> Short overview about our service and its features.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

